<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://pagecdn.io/lib/skeleton/2.0.4/skeleton.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Welcome Home</h1>
    <div>
      <a href="/users/login">Login</a><br /><a href="/users/register"
        >Register</a
      >
    </div>
  </body>
</html>
